.list-group-item {
  width: 100%;
}

#composeEmail > * {
  width: 85%;
  align-content: center;
  background-color: #AB897A !important;
  margin: 8px auto;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.sidebar {
  padding-bottom: 100%;
}

body {
  background-color: #f5f5f5;
}

.list-group > * { 
  background: transparent !important;
}