

.navbar-brand {
  margin: auto;
  padding: 0px;
}
.navbar-brand>img {
  width: 100% !important;
  padding: 7px;
  padding-left: 20px;
  margin: auto !important;
 
}

#custom-search-input {
	width: 70%;
}


#custom-search-input button {
        border: 0;
        background: none;
        // padding: 2px 5px;
        // margin-top: 2px;
        position: relative;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#FF533D;
    }

.dropdown {
	padding-right: 15px
}